.login-reset-psd .login-show {
    position: absolute;
    top: 127px;
    left: 50%;
    width: 450px;
    height: auto;
    padding-bottom: 15px;
    margin: 0 0 0 -240px;
    background: #f7f7f7;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,.6), 0 0 0 rgba(0,0,0,.6), 0 0 0 rgba(0,0,0,.6), 0 0 0 rgba(0,0,0,.6);
    box-shadow: 0 0 0 rgba(0,0,0,.6), 0 0 0 rgba(0,0,0,.6), 0 0 0 rgba(0,0,0,.6), 0 0 0 rgba(0,0,0,.6);
    border-radius: 4px;
    padding-top: 33px;
    padding-left: 30px;
}
.login-show {
    padding: 33px 0 0 25px;
    background-color: #fff;
}
.reset-psd-header .font-page-esc {
    position: static;
    border-left: none;
    color: #9193ab;
}
.psd-esc-color {
    color: rgba(145,147,171,.5)!important;
}
.font-page-esc2 {
    display: block;
    right: -30px;
    top: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-left: 1px solid #e2e2e9;
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.login-reset-psd .login-show .login-show-hd > h1 {
    margin-bottom: 10px;
    text-align: center;
}
.login-reset-psd .login-show .icon1-color-big-password {
    display: inline-block;
    float: none;
    margin-right: 10px;
    font-size: 16px;
}
.login-reset-psd .login-show .login-show-hd > h1 span {
    margin-right: 10px;
}
.login-reset-psd .line {
    display: block;
    background-color: #e2e2e9;
    width: 100%;
    height: 1px;
    margin-top: 20px;
}
.login-reset-psd .login-show .r-person-register-l, .login-reset-psd .login-show .r-person-register-r {
    width: 450px;
    position: relative;
}
.psd-wrap-width {
    width: 410px!important;
    margin: 35px auto 0!important;
}
.login-reset-psd .login-show .r-person-register-info {
    width: 100%;
    border-bottom: 1px solid #ababab;
}
.login-show .r-person-register-info {
    height: 48px;
    width: 100%;
    line-height: 28px;
    border-bottom: 1px solid #ababab;
    font-weight: 400!important;
}
.psd-login-btn {
    margin-left: 20px!important;
}
.login-reset-psd .login-show .but-create {
    margin-top: 40px;
}
.background-none {
    background: none;
}
.line-hight50 {
    line-height: 50px;
}
.padding-left20 {
    padding-left:20px;
}
@media screen and (max-width: 480px){
    .login-reset-psd .login-show {
        width: 100vw;
        top: 90px;
        padding: 0;
        margin: 0;
        left: 0;
    }
    .login-reset-psd .login-show .r-person-register-l, .login-reset-psd .login-show .r-person-register-r {
        width: auto;
        padding: 40px 20px 0 20px;
    }
    .psd-wrap-width {
        margin: 0 !important;
        width: 100% !important;
    }
    .reset-subtitle {
        font-size: 13px;
        color: #cecece;
        text-align: center;
    }
    .reset-subtitle span{
        font-size: 13px;
        color: #000000;
    }
    .login-show-pwd {
        margin-top: 40px !important;
    }
    .line-hight50 {
        line-height: 69px;
    }
    .login-reset-psd .login-show .but-create {
        margin: 40px 0 0 0 !important;
        width: 100%;
    }
    .reset-subtitle div{
        display: inline;
    }
}